* {
  box-sizing: border-box;
}

.header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
  text-align: center;
}

.cats {
  margin-top: 32px;
  display: flex;
  width: 100%;
  max-height: fit-content;
  gap: 32px;
  align-items: center;
  justify-content: center;
}

.cat {
  width: 600px;

}